.Swiper{
    width: 100% !important;
    margin-top: 60px;

}
.Project{
    display:flex;
    flex-direction:column;
    gap: 24px;
}
.ProjectWrapper{
    color: var(--text-color);
    gap: 18px;

}

.ProjectWrapper h2{
    font-size: 40px;
    line-height: 30px;
}
.ProjectWrapper .pera{
    width: 60%;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.users {
    height: 150px;
    width: auto;
    display: block;
    margin-bottom: 15px;
}
@media screen and (max-width:768px) {
    .ProjectWrapper h2{
        font-size: 32px;
        
    }
    .ProjectWrapper .pera{
        width: 100%;
        
    } 
}